.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #642f26;
  border: 1px solid white;
  background-image: url("./assets/Snow-sunset/Snow-sunset.gif");
  background-size: cover;
  font-family: "Montserrat", sans-serif;
}
